<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:replace="~{layout/plantilla :: head}">
        <title>Storybound Books</title>
        <link th:href="@{/css/heroic-features.css" rel="stylesheet}"/>
    </head>

    <body>
        <div th:insert="~{admin/template_admin.html::header}"></div>
        <section class="bg-light">
            <div class="container pb-5">
                <div class="p-5 lc-block">

                    <div class="lc-block">
                        <div>
                            <h2 class="fw-bolder display-3">Storybound Books.
                            </h2>
                        </div>
                    </div>
                    <div class="lc-block col-md-8">
                        <div>
                            <p class="lead">Actualizar la información del libro.</p>
                        </div>
                    </div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/admin}">Inicio</a></li>
                        <li class="breadcrumb-item active">Editar Libro</li>
                    </ol>
                </div>
                <div class="p-5 lc-block shadow rounded-3 col-xl-10 offset-xl-1">

                    <form class="form-horizontal" th:action="@{/admin/products/save-product}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${book.id}"/>
                        <div class="form-group mb-4">
                            <label for="name">Nombre del Libro:</label>
                            <!--                            <input name="mouseglue" type="text" class="form-control"  placeholder="Ingrese el nombre del libro" value=""
                                                               autocomplete="off" hidden="" />-->
                            <input name="name" type="text" class="form-control" id="name" placeholder="Ingrese el nombre del libro" th:value="${book.name}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="autor">Autor:</label>
                            <!--                            <input name="autor" type="text" class="form-control" placeholder="Ingrese el autor del libro" value=""
                                                               autocomplete="off" hidden=""/>-->
                            <input name="autor" type="text" class="form-control" id="autor" placeholder="Ingrese el autor del libro" th:value="${book.autor}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="genero">Género:</label>
                            <!--                            <input name="genero" type="text" class="form-control" id="genero" placeholder="Ingrese el género del libro" value=""
                                                               autocomplete="off" hidden=""/>-->
                            <input name="genero" type="text" class="form-control" id="genero" placeholder="Ingrese el género del libro" th:value="${book.genero}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="formato">Formato:</label>
                            <!--                            <input name="formato" type="text" class="form-control" id="formato" placeholder="Ingrese el formato en el que esta el libro" value=""
                                                               autocomplete="off" hidden=""/>-->
                            <input name="formato" type="text" class="form-control" id="formato" placeholder="Ingrese el formato en el que esta el libro" th:value="${book.formato}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="publicacion">Año de Publicación:</label>
                            <!--                            <input name="publicacion" type="text" class="form-control" id="publicacion" placeholder="Ingrese un año de publicación del libro" value=""
                                                               autocomplete="off" hidden=""/>-->
                            <input name="publicacion" type="text" class="form-control" id="publicacion" placeholder="Ingrese  un año de publicación del libro" th:value="${book.publicacion}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="idioma">Idioma:</label>
                            <!--                            <input name="publicacion" type="text" class="form-control" id="publicacion" placeholder="Ingrese un año de publicación del libro" value=""
                                                               autocomplete="off" hidden=""/>-->
                            <input name="idioma" type="text" class="form-control" id="idioma" placeholder="Ingrese  un año de publicación del libro" th:value="${book.idioma}"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="description">Descripción:</label>
                            <textarea name="description" class="form-control" id="description" rows="3" maxlength="10000" placeholder="Ingrese una descripción" th:text="${book.description}"></textarea>
                        </div>

                        <div class="form-group mb-4">
                            <label for="price">Precio:</label>
                            <input name="price" type="number" class="form-control" id="price" placeholder="Ingrese un precio para el libro" th:value="${book.price}"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="img">Imagen:</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control-file" id="img" name="img"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg mt-5" style="width: 100%;">Guardar</button>
                    </form>
                </div>
            </div>
        </section>

        <div th:insert="~{layout/plantilla.html::footer}"></div>

        <!--        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
                <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
    </body>

</html>
