<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:replace="~{layout/plantilla :: head}">
        <title>Storybound Books</title>
        <link th:href="@{/css/heroic-features.css" rel="stylesheet}"/>
    </head>

    <body>

        <!-- Navigation -->
        <div th:insert="~{admin/template_admin.html::header}"></div>

        <!-- Page Content -->
        <div class="container pb-5">
            <div class="p-5 lc-block">

                <div class="lc-block">
                    <div>
                        <h2 class="fw-bolder display-3">Storybound Books.
                        </h2>
                    </div>
                </div>
                <div class="lc-block col-md-8">
                    <div>
                        <p class="lead">Actualizar la información del libro.</p>
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin}">Inicio</a></li>
                    <li class="breadcrumb-item active">Editar Libro</li>
                </ol>
                <a class="btn btn-primary" th:href="@{/admin/products/create}" >Agregar Libro</a>
           
            <h2>Lista de Productos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Género</th>
                        <th scope="col">Formato</th>
                        <th scope="col">Idioma</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Inventario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book:${books}">
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.autor}"></td>
                        <td th:text="${book.editorial}"></td>
                        <td th:text="${book.genero}"></td>
                        <td th:text="${book.formato}"></td>
                        <td th:text="${book.idioma}"></td>
                        <td th:text="'₡ ' + ${#numbers.formatDecimal(book.price, 0, 'COMMA', 2, 'POINT')}" />

                        <!--<td th:text="₡ ${book.price}"></td>-->

                        <td><a class="btn btn-warning" th:href="@{/admin/products/edit/{id} (id = ${book.id})}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{/admin/products/delete/{id} (id=${book.id})}">Eliminar</a></td>
                        <td><a  class="btn btn-success" href="#">Inventario</a></td>
                    </tr>       
                </tbody>
            </table>
            </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <div th:insert="~{layout/plantilla.html::footer}"></div>

        <!-- Bootstrap core JavaScript -->
<!--        <script th:src="@{vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

    </body>

</html>
