

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.zoom:hover {
    transform: scale(1.03); /* Ajusta el valor según sea necesario para el efecto deseado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombreado al pasar el cursor */
    transition: transform 0.3s, box-shadow 0.3s; /* Agrega una transición para que sea suave */
    cursor: pointer;
}

/*BUY BUTTON*/
.button {
  --width: 150px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}


.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
/*END BUY BUTTON*/


.about-title {
    font-size: 50px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

/*CARD DE OFERTAS*/
.card_offer {
  width: 310px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  width: 310px;
  height: 520px;
  border-radius: 6px 6px 0 0;
  
}

.card-image img{
    object-fit: cover;
}

.card-image:hover {
  transform: scale(0.98);
}


.category:hover {
  cursor: pointer;
}

/*END CARDS DE OFERTAS*/