<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:replace="~{layout/plantilla :: head}">
        <title>Storybound Books</title>
    </head>

    <body>
        <div th:insert="layout/plantilla.html::header"></div>

        <main th:fragment="nosotros">
            <section class="py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="lc-block">
                                <div>

                                    <p class="lead fw-bold text-primary">About us</p>

                                    <h2 class="fw-bold display-2">Storybound Books</h2>

                                </div>
                            </div>
                        </div><!-- /col -->
                        <div class="col-lg-6">
                            <div class="lc-block">
                                <div>
                                    <p class="rfs-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus
                                        id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In
                                        pellentesque scelerisque auctor. Ut porta lacus eget nisi fermentum lobortis.
                                        Vestibulum facilisis tempor ipsum, ut rhoncus magna ultricies laoreet. Proin
                                        vehicula erat eget libero accumsan iaculis.<br/></p>
                                </div>
                            </div>
                        </div><!-- /col -->
                    </div>
                </div>
            </section>
            <section>
                <div class="d-flex container-fluid" data-lc-helper="background"
                     style="height: 50vh; background: url('../img/tuur.jpg') center / cover no-repeat;">
                </div>
                <div class="container bg-light shadow py-4" style="margin-top:-100px">
                    <div class="row text-center justify-content-center">
                        <div class="col-12">
                            <div class="lc-block">
                                <div>
                                    <p class="fw-bold display-5">Our Company</p>
                                </div>
                            </div>
                        </div>
                        <div class="lc-block col-5">
                            <hr/>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-10 col-xxl-8">
                            <div class="lc-block mb-5">
                                <div>
                                    <p class="rfs-9"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus
                                        id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In
                                        pellentesque scelerisque auctor.
                                        Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis tempor
                                        ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan
                                        iaculis. </p>
                                </div>
                            </div>
                            <div class="lc-block text-center">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Contactanos</a>
                            </div>
                        </div><!-- /col -->
                    </div>
                </div>
            </section>
            <section class="py-4 py-lg-6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                            <div class="lc-block mb-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                                     viewBox="0 0 16 16" lc-helper="svg-icon">
                                    <path
                                        d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z">
                                    </path>
                                </svg>

                            </div>

                            <div class="lc-block">
                                <span class="display-4"><b class="fw-bold">274</b></span>
                                <div>Customers</div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                            <div class="lc-block mb-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                                     viewBox="0 0 16 16" lc-helper="svg-icon">
                                    <path d="M8 9.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                                    <path
                                        d="M9.5 2c-.9 0-1.75.216-2.501.6A5 5 0 0 1 13 7.5a6.5 6.5 0 1 1-13 0 .5.5 0 0 1 1 0 5.5 5.5 0 0 0 8.001 4.9A5 5 0 0 1 3 7.5a6.5 6.5 0 0 1 13 0 .5.5 0 0 1-1 0A5.5 5.5 0 0 0 9.5 2zM8 3.5a4 4 0 1 0 0 8 4 4 0 0 0 0-8z">
                                    </path>
                                </svg>

                            </div>
                            <div class="lc-block">
                                <span class="display-4"><b class="fw-bold">1.244</b></span>
                                <div>
                                    <p>Hours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                            <div class="lc-block mb-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                                     viewBox="0 0 16 16" lc-helper="svg-icon">
                                    <path
                                        d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z">
                                    </path>
                                </svg>

                            </div>
                            <div class="lc-block">
                                <span class="display-4"><b class="fw-bold">+AAA</b></span>
                                <div>Value</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-fluid g-0">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="lc-block overflow-hidden">
                                <div style="max-height:40vh" class="ratio ratio-1x1" data-lc-helper="gmap-embed">
                                    <iframe
                                        src="https://maps.google.com/maps?q=1%20Hacker%20Way%2C%20Menlo%20Park%2C%20CA%2094025%2C%20United%20states&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <section>
                <div class="container py-5">
                    <div class="row min-vh-50 align-items-center justify-content-center">
                        <div class="col-lg-9 col-xl-8 text-center bg-dark text-white p-5">
                            <div class="lc-block mb-4">
                                <div>
                                    <h2 class="display-3 fw-bolder">Reach us</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do<br>&nbsp;eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua.&nbsp;</p>

                                </div>
                            </div><!-- /lc-block -->
                            <div class="lc-block mb-5">
                                <a class="btn btn-lg btn-light" href="https://goo.gl/maps/zy3NkDKV3x4iyUkL9"
                                   role="button">VIEW MAP</a>
                            </div><!-- /lc-block -->
                            <div class="lc-block border-top col-md-6 offset-md-3">
                                <div editable="rich">
                                    <h2 class="fw-bolder"><br></h2>
                                </div>
                            </div>
                            <div class="lc-block mb-4">
                                <div editable="rich">
                                    <h2 class="fw-bolder">Working Hours</h2>
                                </div>
                            </div>
                            <div class="lc-block">
                                <div editable="rich">
                                    <p>Monday to Friday: 07:00 – 19:45</p>
                                    <p>Saturday to Sunday: 11:00 – 17:00</p>
                                </div>
                            </div><!-- /lc-block -->
                        </div><!-- /col -->
                    </div>
                </div>
            </section>


        </main>
        <div th:insert="layout/plantilla.html::footer"></div>
    </body>

</html>

